<%- include('../partials/header') %>
  <%- include('../partials/navbar') %>

    <link rel="stylesheet" href="/start.css">

    <div class="container mt-5 w-75 p-3">
      <%- include("../partials/flash")%>

        <div class="card mb-3 p-2">

          <img src="<%= foundBlog.img %>" class="card-img-top p-3 " alt="..." style="height: 350px;">
          <div class="card-body">
            <h5 class="card-title">
              <%= foundBlog.title %>
            </h5>
            <p class="card-text">
              <%= foundBlog.bodycontent %>
            </p>
            <p class="card-text"><small class="text-muted">Written By - <%= foundBlog.writer%></small></p>
            <a href="/blogs/<%= foundBlog._id %>/edit" class="btn btn-warning mb-2">Edit</a>

            <form action="/blogs/<%= foundBlog._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>


          </div>
        </div>

    </div>

    <div class="container w-75 mb-5">

      <div class="w-75 mb-5 m-auto">
        <h4>Leave a Review</h4>

        <form action="/blogs/<%= foundBlog._id %>/review" class="needs-validation" method="POST" " novalidate>
                <!-- <div class=" mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" class="form-range" min="0" max="5" name="rating" id="rating">
      </div> -->

      <fieldset class="starability-slot">

        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
          aria-label="No rating." />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>

      <div class="mb-3">
        <label for="desc" class="form-label">Review</label>
        <textarea class="form-control" id="desc" cols="35" rows="3" name="comment" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div class="w-75 m-auto">
      <h3 class="text-center p-3" style="color: rgb(75, 5, 133);">Ratings & Reviews</h3>
      <%for(let r of foundBlog.reviews){%>
        <div class="card mb-2">

          <div class="card-body">
            <blockquote class="blockquote mb-0">



              <p class="starability-result" data-rating="<%=r.rating  %>">
                Rated: <%=r.rating %> stars
              </p>

              <p class=""> Review : <%= r.comment %>
              </p>

              <div class=" text-capitalize">
                <strong>
                  By <%= r.user %>
                </strong>
              </div>

            </blockquote>
          </div>

        </div>
        <% } %>
    </div>


    </div>


    <%- include('../partials/footer') %>